/*
AESA CoP
*/


/* 
    Created on : Jan 17, 2017, 12:02:27 PM
    Author     : kimaiga
*/

/****************************GENERAL************************************/
@import url('https://fonts.googleapis.com/css?family=Raleway');


*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body{
    font-family: 'Raleway', serif;
    font-size: 16px;
    /*padding-top: 80px;*/
    text-align: justify;
    background-color: #f0f0fb;
}

*{
    font-family: "raleway", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    font-family: 'Raleway', serif;
}

/*container*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway' serif;
}

.nav-center,
.center{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

a{
    color: #191919;
    text-decoration: none;
}
ul{
    list-style: none;
}

/************************************************************************************ 
               Top-nav bar
************************************************************************************/

.menu > li > a {
    text-align: center;
    color: #003262;
    font-weight: bolder;
}
.top-bar,
.top-bar ul {
    background-color: transparent;
}
.header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    height: 60px;
    background-color: transparent;
    transition: .5s;
    padding-left: 5%;
}
.header.scrolling {
    background-color: #003a70;
    opacity: 1;
    transition: .5s;
    z-index: 10;
}

.scrolling .menu > li > a {
    color: #fff;
}
.xx .register-top-right {
    border: solid 1px #fff;
    border-radius: 5px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: background-color .5s ease-in-out;
    background-color: #fff;
    color: #000;
    transition: .5s;
}
.xx .register-top-right:hover {
    opacity: .5;
}
li a:hover {
    color: #DEB200;
    border-bottom: 1px;
    transition: .5;
}
.web_logo {
    width: 400px;
}
.img-rounded {
    border-radius: 500px;
}

.title-bar {
    z-index: 50;
}

.body-content{
    margin-bottom: 150px;
}

/************************************************************************************ 
               HERO
************************************************************************************/

.hero {
    /*background-image: linear-gradient(hsla(0, 0%, 4%, 0.83), hsla(0, 0%, 4%, 0.83)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4z8DAwMgAI0AMdM5/ACRwAgMsRgU3AAAAAElFTkSuQmCC), url(../img/hero3.jpg);*/
    height: 100vh;
    width: 100%;
}


.hero p {
    text-align: center;
    color: #1386AB;
    font-size: 3.5em;
    line-height: 65px;
}
.hero p #font-big {
    font-size: 2em;
}
@media screen and (max-width: 439px) {
    .hero p #font-big {
        font-size: 2.0em;
    }
}
.hero #register-pad button {
    border: solid white 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    color: white;
    border-radius: 5px;
    width: 300px;
    -webkit-transition: background-color .5s ease-in-out;
}
.hero button:hover {
    border-color: green;
    background-color: green;
}
#hero-text-padding {
    padding-top: 15%;
}
.date {
    color: #1386AB;
    text-align: center;
    font-size: 35px;
}


/************************************************************************************ 
               ABOUT
************************************************************************************/

.about {
    text-align: center;
    background-color: #FFFFFF;
    max-width: none;
    font-family: 'Raleway', serif;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#about-padding {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10% 5%;
}
#about-padding p {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5em;
    color: #504949;
}

.lead {
    font-size: 115%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0.8;
    text-align: justify;
    color: #F2A900;
}

/************************************************************************************ 
  Media Query 639px responsive mode starts
************************************************************************************/

@media screen and (max-width: 639px) {
    .menu > li > a {
        background-color: #000;
    }
    .menu img {
        display: none;
    }
    .top-bar {
        padding: 0;
    }
    #register-top-right {
        margin-right: 0;
    }
    #about-padding p,
    .regg h3 {
        font-size: 1.2em;
    }
    #hero-text-padding {
        padding-top: 40%;
        position: absolute;
        bottom: 5%;
        width: 100%;
    }
    .hero p {
        text-align: center;
        color: #fff;
        font-size: 2em;
        line-height: 50px;
    }
    #pad-contact {
        padding-left: 15px
    }
    .xx .register-top-right {
        margin-right: 0px;
    }
    .xx {
        margin-top: -10px;
    }
    #clock .block p {
        font-size: 15px;
    }
    .header {
        position: static;
    }
    .top-bar ul {
        background-color: transparent;
        margin-top: 20%;
        position: fixed;
        width: 100%;
        z-index: 4;
    }
    .reveal {
        top: 65px;
    }
}
@media screen and (max-height: 535px) {
    .hero p {
        text-align: center;
        color: #fff;
        font-size: 1.5em;
        line-height: 50px;
    }
    @media screen and (max-height: 320) {
        #hero-text-padding {
            padding-top: 40%;
            position: absolute;
            bottom: 5%;
            width: 100%;
        }
        .hero p {
            font-size: 1em;
            line-height: 30px;
            margin-bottom: 0px;
        }
    }
    @media screen and (max-height: 600px) {
        #hero-text-padding {
            padding-top: 40%;
            position: absolute;
            bottom: 5%;
            width: 100%;
        }
    }
}

/************************************************************************************ 
  Media Query LANDSCAPE responsive mode starts
************************************************************************************/

@media only screen (max-width:1000px) and (orientation: landscape) {
    .xx .register-top-right {
        margin-right: 0;
    }
    .menu>li>a {
        padding: 0.7em;
    }
    .hero p {
        font-size: 1em;
        line-height: 30px;
        margin-bottom: 0px;
    }
    .date {
        font-size: 25px;
    }
    #clock {
        margin-top: 0px;
    }
    .digit {
        font-size: 20px;
    }
    .web_logo {
        width: 35px;
    }
}
