/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2017, 9:07:21 AM
    Author     : kimaiga
*/

*{
  font-family: 'Raleway', serif;
}
body{
  background-color: white;
}
#home{
  background-image: url(../img/deltas.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.overlay{
  background-color: rgba(0,0,0,0.5);
}
.hr{
  width: 700px;
}
.none{
  background-color: rgba(0,0,0,0);
}
.fit{
 padding: 40px;
  margin:-15px;
}
nav{
  background-color: rgba(0,0,0,0);
 color: white;
}
.link, .linkz{
  list-style: none;
  padding-left: 5px;
}
#deliverModal{
  background-image: url(../assets/deliver.jpg); 
  color: white;
}
.deliverul{
  margin-left: 40px;
}
.deliver{
  color: #8dc153;
  border:1px solid;
   padding-left: 12px;
 padding-right: 12px;
 padding-top: 7px;
 padding-bottom: 7px;
 text-transform: uppercase;
 font-size: 13px;
}
.deliver:hover{
 color: white;
 background-color: #8dc153;
}
.delttl{
  font-size: 30px;
  text-align: center;
}
.hrs{
  width: 200px;
}
.ppl:hover{
  color: #DEB200;
}
.big{
  color: white;
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
}
.cnt{
  text-align: center;
  font-size: 20px;
  padding-top: 70px;
  padding-bottom:170px;
}
.cnts{
  text-align: center;
  font-size: 20px;
  padding-top: 70px;
  padding-bottom:70px;
}
.head{
  padding-top: 15px;
  text-align: center;
  font-size: 40px;
}
.ttn{
  border:2px solid white;
  padding-top:19px; 
  padding-bottom: 19px;
  padding-right: 15px;
  padding-left: 15px;
}

.ttl {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center; 
}
.mdim{
  margin-bottom: -5px;
  color: white;
  text-align: center;
  font-size: 25px;
}
.ppl{
  color: white;
  text-decoration: none;
}
.right{
  float: right;
}
.buttn{
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
}
.pad{
  padding-bottom: 30px;
}
.buttn:hover, .ttn:hover{
  background-color: white;
  color: #DEB200;
}
.up{
  margin-top: -35px;
  padding-right: 100px;
}
.bout{
  text-align: center;
  font-size: 17px;
}
#tuition{
  color: white;
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
  background-image: url(../assets/bg_student.jpg);
}
.tuit{
  font-size: 24px;
  text-align: center;
}
footer{
    background: #353B47;
    bottom: 0;
    color: #FFFFFF;
}
.cent{
  text-align: center;
  padding-top: 34px;
}
.tt{
  padding-bottom: 2px;
  font-size: 18px;
  padding-top: 20px;
}

footer a{
  display: block;
   color: #ffffff;
   font-size: 13px;
}
li{
  list-style: none;
}
.go-top {
    position: fixed;
    bottom: 0.75em;
    right: 0.5em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    padding: 10px;
    display: none;
    margin: 0;
    z-index: 10;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #DEB200 !important;
    text-decoration: none;
}
.fixd{
   border:2px solid white;
   padding:9px;
   border-radius: 5px;
}
.foot{
    display:inline;
    color: #ffffff;
    font-size: 10px;
    padding-left: 4px;
    padding-right: 4px;
}
footer a:hover, .foot:hover, .color{
  color: #DEB200;
}
.color:hover{
  color: #DEB200 !important;
  text-decoration: underline;
}
/*modal*/
.form{
  width: 550px;
  height: 480px;
}
@media screen and (max-width:1000px){
  .form{
    width: 350px;
    height: 550px;
  }
  .hr{
    width: 300px;
  }
  .link{
    display: block !important;
    background-color:#353B47;     
    list-style: none;
    padding-right: 55px;
  }
  .bout, .tuit{
    margin-left: 8px;
    margin-right: 8px;
  }
  .link:hover, .link:visited{
    color: #DEB200;
  }
  .zero{
    display: none;
  }
}

#overlay1{
        background-color: rgba(0,0,0,0);
}

/*#teamsection {
    background-image: url(../img/deltas.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
}*/


.image {
  height: 200px;
  width: 250px; }
.hire{margin-top:30px;font-size:30px;text-transform:uppercase;color:#8dc153;text-shadow:1px 1px #000}
span.text-content {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px; }

ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 250px;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

ul.img-list li:hover {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%); }

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }


span.text-content {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
  opacity: 0; }

.img-list:hover span.text-content {
  opacity: 1; }

span.text-content {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms; }

/****************************************************/
/*TEAM CSS*/
/***************************************************/
/*#team {
  background-image: url(../assets/images/team.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px; }*/

.lft {
  padding-right: 110px; }

.rght {
  padding-left: 110px; }

.tim {
  margin-top: -60px; }

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }

ul.img-list li {
  display: inline-block;
  height: 100%;
  margin: 0 1em 1em 0;
  position: relative;
  width: 100%; }

span.text-content span {
  display: table-cell;
  text-align: center;
  /*vertical-align: middle;*/ }

.jina {
  font-size: 14px;
  padding: 5px; }

span.text-content {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 30%;
  color: white;
  cursor: pointer;
  display: table;
  height: 100%;
  left: 0;
  margin-left: 10%;
  position: absolute;
  width: 80%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms; }

@media screen and (max-width: 1000px) {
  #team {
  background-image: url(../assets/images/team.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px; }
    
  .tim {
    margin: 0px; }

  .tambua {
    display: none !important; }

  .lft, .rght {
    padding: 0px; }

  .jina {
    font-size: 12px; }

  span.text-content {
    display: none; }

  .pic {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    height: 80%;
    width: 80%;
    margin-top: 20px; } }